h1 {
  font-family: "Gilroy-Bold";
}

header {
  padding: 1.8rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.left-side-wrap {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo-icon {
  width: 3.7rem;
}

.company-name {
  font-size: 1.5rem;
}

.icon-notifications,
.icon-cart {
  width: 2rem;
}

.right-side-wrap {
  display: flex;
  gap: 1.6rem;
}

.input-div {
  display: none;
}

.browse-div {
  display: none;
}

.avatar {
  display: none;
}

/* Tablet */

@media only screen and (min-width: 48rem) {
  .input-div {
    display: block;
    position: relative;
  }

  .search-input {
    width: 40rem;
    background-color: #f9f9f9e5;
    border: none;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
  }

  .icon-search {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger-icon {
    display: none;
  }

  .browse-div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: 3.2rem;
  }

  .browse-text {
    font-family: "Gilroy-Light";
    color: #1b1b1b;
    font-size: 1.6rem;
  }

  .avatar {
    display: block;
  }
}
