.profile_picture_container {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}
.profile_picture_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile_picture_container .add_pfp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  bottom: 0px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #050505c4;
  cursor: pointer;
}
.profile_picture_container .add_pfp img {
  width: 14px;
  height: 14px;
}
.profile_picture_container .add_pfp input {
    display: none;
  }