.Parent {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.chapter-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chapter-details-info {
  display: flex;
  gap: 5px;
  color: rgba(27, 27, 27, 0.6);
}
.total-duration {
  color: #3dcbb1;
}

.chapter-title {
  font-size: 1rem;
}
.quest-answ-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.question-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 12px;
}
.arrow-icon {
  transition: 0.4s;
  width: 30px;
  height: 30px;
}
.arrow-rotated {
  transform: rotate(180deg);
}
.chapter-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 0;
  background: rgba(249, 249, 249, 0.9);
  font-size: 20px;
}
.chapter-details.open {
  max-height: 1000px; /* large enough to fit any content */
  padding: 30px;
  opacity: 1;
  pointer-events: auto;
}
