.parent {
  display: flex;
  flex-direction: column;
}
.header {
  display: none;
}
.video {
  width: 100%;
  min-height: 212px;
}
.mobileTools {
  display: flex;
  align-items: center;
  padding: 0 15px 0 25px;
  justify-content: space-between;
}
.mobileTools p {
  color: #000;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  font-family: Gilroy;
}
.tools {
  display: flex;
  gap: 5px;
  align-items: center;
}

.course-raitings {
  padding: 19px 16px 29px;
}
.course-raitings h2 {
  color: #000;
  font-family: Gilroy;
  font-size: 23px;
  font-weight: 700;
  line-height: 21px;
}
.studio-container {
  padding: 19px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.studioName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.studioName p {
  color: #3dcbb1;
  font-family: Gilroy;
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;
}
.studioName span {
  color: rgba(27, 27, 27, 0.6);
  font-family: Gilroy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.detailed-raitings {
  display: flex;
  gap: 8px;
  color: rgba(27, 27, 27, 0.6);
  font-family: Gilroy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.check img {
  width: 19px;
  height: 19px;
}
.sign img {
  width: 19px;
  height: 19px;
}
.check,
.sign {
  display: flex;
  align-items: center;
  gap: 4px;
}

.course-hr {
  display: none;
  height: 0.5px;
  background-color: #444;
  border: none;
  margin-top: 20px;
  opacity: 0.2;
}
.second-child {
  padding: 0 16px;
}
.course-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
}
.course-info {
  display: flex;
  color: rgba(27, 27, 27, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}
.course-info p {
  font-size: 16px;
  transition: font-size 0.9s ease, color 0.3s ease;
  min-width: 75px;
  cursor: pointer;
}

.course-info p.selected {
  font-weight: 600;
  color: #000;
}

.underline-container {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}
.tab-underline {
  height: 1.5px;
  width: 56px;
  background-color: rgb(83, 209, 83);
  transition: transform 0.2s ease;
}

.second-section {
  display: none;
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.avatar-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.avatar-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.avatar-icon {
  width: 24px;
  height: 24px;
  border-radius: 15px;
}
.avatar-name {
  color: #3dcbb1;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.avatar-time {
  color: rgba(27, 27, 27, 0.1);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px; /* 150% */
}
.avatar-comment {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 294px;
}
.about {
  color: rgba(27, 27, 27, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 60px 60px 24px;
  }
  .parent {
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
  }
  .info-title {
    padding-bottom: 10px;
    color: #000;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
  }
  .avatar-name {
    font-size: 16px;
  }
  .about {
    font-size: 16px;
  }
  .scroll-options {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .course-raitings {
    padding: 19px 0px 23px;
  }
  .first-child {
    width: 100%;
  }
  .second-child {
    width: 100%;
    padding: 0;
  }
  .course-info-wrapper {
    display: none;
  }
  .video {
    border-radius: 18px;
    min-height: 230px;
    min-width: 550px;
  }
  .course-hr {
    display: block;
  }
  .second-section {
    display: block;
  }
}
