@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
}

h1 {
  font-family: "Gilroy-Bold";
}

header {
  padding: 1.8rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.left-side-wrap {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.company-info-wrap {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo-icon {
  width: 3.7rem;
}

.company-name {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
  color: black;
}

.icon-notifications,
.icon-cart {
  width: 2rem;
}

.right-side-wrap {
  display: flex;
  gap: 1.6rem;
}

.input-div {
  display: none;
}

.browse-div {
  display: none;
}

.avatar {
  display: none;
}

.offer-text {
  display: none;
}

.right-side-wrap-logged-out {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.log-in-button {
  padding: 0.5rem 1.2rem;
  border-radius: 0.9rem;
  background-color: transparent;
  font-family: "Gilroy-Bold";
  border: 1px solid #000;
  cursor: pointer;
  font-size: 1rem;
}

.sign-up-button {
  padding: 0.5rem 1.2rem;
  border-radius: 0.9rem;
  background-color: transparent;
  font-family: "Gilroy-Bold";
  border: none;
  cursor: pointer;
  color: white;
  background-color: #3dcbb1;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sign-up-icon {
  width: 1.3rem;
}

/* Tablet */

@media only screen and (min-width: 48rem) {
  header {
    padding: 1.8rem 3.2rem;
  }

  .left-side-wrap {
    gap: 1.6rem;
  }

  .right-side-wrap {
    align-items: center;
  }

  .input-div {
    display: block;
    position: relative;
  }

  .search-input {
    width: 40rem;
    background-color: #f9f9f9e5;
    border: none;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
  }

  .icon-search {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.1rem;
  }

  .hamburger-icon {
    display: none;
  }

  .browse-div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
  }

  .browse-text {
    font-family: "Gilroy-Light";
    color: #1b1b1b;
    font-size: 1.6rem;
  }

  .icon-arrow {
    width: 0.97rem;
  }

  .avatar {
    display: block;
  }

  .log-in-button,
  .sign-up-button {
    font-size: 1.1rem;
  }

  .sign-up-icon {
    width: 1.5rem;
  }
}

/* Desktop */

@media only screen and (min-width: 90rem) {
  header {
    padding: 1.8rem 11.8rem;
  }

  .left-side-wrap {
    gap: 4.4rem;
  }

  .logo-icon {
    width: 4.2rem;
  }

  .company-name {
    font-size: 1.7rem;
  }

  .offer-text {
    display: block;
    width: 14.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Gilroy-Light";
  }

  .log-in-button,
  .sign-up-button {
    font-size: 1.2rem;
  }

  .sign-up-icon {
    width: 1.6rem;
  }
}
