.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.status-conatiner {
  display: flex;
  justify-content: space-between;
}

.hr {
  border: 0;
  border-top: 1px solid #444;
  opacity: 10%;
}
.title {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
}
.completed {
  background-color: #00ddc0;
  color: white;
  font-size: 1rem;
  padding: 4px;
}
.uncompleted {
  background-color: #FE416D;
  color: white;
  font-size: 1rem;
  padding: 4px;
}

