.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.status-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr {
  border: 0;
  border-top: 1px solid #444;
  opacity: 10%;
}
.title {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
}
.completed {
  background-color: #00ddc0;
  color: white;
  font-size: 1rem;
  padding: 4px;
}
.uncompleted {
  background-color: #FE416D;
  color: white;
  font-size: 1rem;
  padding: 4px;
}
.play {
    display: flex;
    align-items: center;
    gap: 5px;
}
.play-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.durationGreen {
    color: #00DDC0;
}
.durationRed {
    color: red;
}
.playIcon {
    width: 20px;
    height: 20px;
}

