* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login_registration_container {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #1b1b1bc7;
}

.login_registration_container .login_registration {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 40px auto;
  overflow: hidden;
}
.login_registration_container .login_registration .image_container {
  position: relative;
  width: 50%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.login_registration_container .login_registration .image_container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.login_registration_container .login_registration .image_container .reg_info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 24px;
  left: 24px;
}
.login_registration_container
  .login_registration
  .image_container
  .reg_info
  .logo_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.login_registration_container
  .login_registration
  .image_container
  .reg_info
  .logo_image
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.login_registration_container
  .login_registration
  .image_container
  .reg_info
  .reg_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.login_registration_container
  .login_registration
  .image_container
  .reg_info
  .reg_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #f9f9f999;
}

.login_registration_form {
  width: 50%;
  height: 100%;
  padding: 24px;
}
.login_registration_form .login_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.login_registration_form .logo_image {
  width: 119.86px;
  height: 34px;
}
.left_side .return_icon,
.rigth_side {
  display: none;
}
.login_registration_form .logo_image img {
  width: 100%;
  height: 100%;
}
.login_registration_form .close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 21px;
  cursor: pointer;
  color: #1b1b1be5;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 22px;
  height: 22px;
}

.login_registration_form .login_head {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #1b1b1b99;
  margin: 8px 0px 16px 0px;
}
.login_registration_form .email,
.password {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41px;
  margin-bottom: 8px;
  border-radius: 8px;
}
.login_registration_form input {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f9f9f9e5;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
}
.login_registration_form input::placeholder {
  color: #1b1b1b1a;
}
.login_registration_form .icon {
  position: absolute;
  right: 12px;
  font-size: 21px;
  cursor: pointer;
  color: #1b1b1b99;
}
.login_registration_form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 41px;
  border-radius: 14px;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 8px 0px;
}
.login_registration_form button img {
  width: 21px;
  height: 21px;
}
.login_container .choose_question {
  margin: 8px auto;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.registration_container .choose_question {
  margin: 16px auto;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.login_registration_form #log_in {
  background-color: #3dcbb1;
  color: #ffffff;
}
.login_registration_form .facebook_account {
  background-color: #4267b2;
  color: #ffffff;
}
.login_registration_form .apple_account {
  background-color: #1b1b1b;
  color: #ffffff;
}
.login_registration_form .google_account {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #1b1b1b1a;
}
.login_registration_form .account_question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto 24px auto;
}
.login_registration_form .account_question .question {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #1b1b1b99;
}
.login_registration_form .account_question .sign_up {
  width: 50px;
  height: 15px;
  background: transparent;
  padding: 0;
  color: #3dcbb1;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.login_registration_form #creat_account {
  background-color: #3dcbb1;
  color: #ffffff;
  margin: 16px 0px 24px 0px;
}

@media screen and (max-width: 768px) {
  .login_registration_container {
    align-items: flex-start;
  }
  .login_registration_container .login_registration {
    margin: 0 auto;
    height: max-content;
    border-radius: 0;
  }
  .login_registration_container .login_registration .image_container {
    display: none;
  }
  .login_registration_form {
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  .login_registration_form .close {
    display: none;
  }
  .login_registration_container .logo_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 18px 16px;
    border-bottom: 1px solid rgba(174, 174, 174, 0.455);
  }
  .login_registration_container .logo_image button {
    width: min-content;
    height: min-content;
    font-size: 20px;
    color: #1b1b1b99;
    padding: 0;
    background: transparent;
  }
  .login_registration_container .logo_image .left_side .return_icon {
    display: flex;
  }
  .login_registration_container .logo_image .left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .login_registration_container .logo_image .rigth_side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .login_registration_form .login_head {
    margin: 76px 20px 16px 20px;
    text-align: center;
  }
  .login_registration_form .login_container,
  .registration_container {
    width: 90%;
    margin: 24px auto;
  }
  .registration_container .choose_question {
    margin: 24px;
  }
  .login_registration_form #log_in {
    background-color: #c42a22;
  }
  .login_registration_form #creat_account {
    background-color: #c42a22;
  }
}
.error_border{
  border: 1px solid red !important;
}